#SSL 
ssl/

# Environment Variable
.env

# 사용자 추가 html 제외.
addUser.html

# 세션 폴더 제외.
sessions/

# DS 폴더 무시
.DS_Store
@eaDir/

server/resource/

logs/

# node modules 제외.
node_modules/

# DummyUtils 제외
# dummyUtil.js